<template name="notifications">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Notifications</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if allNotifications}}
        {{#each allNotifications}}
          <div class="item item-button-right">
            <span>{{hostName}}</span>
            <div class="buttons">
              <button class="button-clear"><i class="ion-checkmark-round"></i></button>
              <button class="button-clear"><i class="ion-close-round"></i></button>
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="ios-bell"}}
          No notifications yet!
        </div>
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>
