<template name="notifications">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Notifications</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if allNotifications}}
        {{#each allNotifications}}
          <div class="item">
            {{hostName}}
          </div>
        {{/each}}
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="ios-bell"}}
          No notifications yet!
        </div>
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>
