@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.empty-view {
  color: #ccc;
  text-align: center;
  padding-top: 25vh;

  i {
    display: block;
    margin: 0 auto 12px auto;
    font-size: 60px;
  }
}

.new-lobby-button {
  text-align: center;
  padding-top: 25vh;
}

.ion-checkmark-round {
  font-size: 1.5em;
  color: #46AF4A;
}

.ion-close-round {
  font-size: 1.5em;
  color: #F6402B;
}

.valign-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .valign {
    display: block;
  }
}
