<template name="settings">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Settings</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <h3 style="text-align:center;padding:1rem;">Account</h3>

      {{#if currentUser}}
        <div class="item item-button-right">
            <span class="user-email">{{username}}</span>
            <button class="button" id="logout-button">Logout</button>
        </div>
      {{else}}
        <div class="item item-button-right">
          <span>You are not logged in</span>
          <button class="button" id="login-create-button">Login/Create</button>
        </div>
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>
