<template name="home">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Cards Against Humanity</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <!-- <button class="button">
      {{>ionIcon icon="chevron-left"}}
    </button> -->
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <!-- <button class="button pull-right">
      {{>ionIcon icon="chevron-right" }}
    </button> -->
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList}}

        <p>this will be a list of all active games</p>
        <p>Each active game will have an ID and a route</p>

      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}


</template>
