<template name="home">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Menus</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <button class="button">
      {{>ionIcon icon="chevron-left"}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button pull-right">
      {{>ionIcon icon="chevron-right" }}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList}}
        {{#each database}}
          {{> _menuItem database=this}}
        {{/each}}

      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}


</template>
