<template name="currentLobby">
  {{#contentFor "headerTitle"}}
  <h1 class="title">Game Lobby</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if currentUser}}

        <div class="item item-button-right">
          <h2 style="font-size:1.5em;">{{hostname.username}}</h2>
          <p class="host-subtitle">Host</p>
          <div class="buttons">
            <button class="button" id="invite-players">Invite</button>
            <button class="button" id="start-game">Start</button>
          </div>
            <!-- <button class="button">Another</button> -->
        </div>
        <ul class="list">
          {{#each allPlayers}}
            <li class="item">
              {{username}}
            </li>
          {{/each}}
        </ul>




      {{else}}
        <h1>Must be logged in</h1>
      {{/if}}


    {{/ionContent}}
  {{/ionView}}
</template>
