<template name="currentLobby">
  {{#contentFor "headerTitle"}}
  <h1 class="title">Game Lobby</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if currentUser}}
        {{#if currentGame}}
          {{#ionItem}}
             <h2 style="font-size:1.5em;">{{hostname}}John</h2>
             <p class="host-subtitle">Host</p>
          {{/ionItem}}








        {{else}}

        {{/if}}

      {{else}}
        <h1>Must be logged in</h1>
      {{/if}}


    {{/ionContent}}
  {{/ionView}}
</template>
