<template name="currentLobby">
  {{#contentFor "headerTitle"}}
  <h1 class="title">Game Lobby</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if currentUser}}

        <div class="item item-button-right">
           <h2 style="font-size:1.5em;">{{hostname.username}}</h2>
           <p class="host-subtitle">Host</p>
           <button class="button">Button</button>
           <!-- <button class="button">Another</button> -->
        </div>





      {{else}}
        <h1>Must be logged in</h1>
      {{/if}}


    {{/ionContent}}
  {{/ionView}}
</template>
