<template name="currentGame">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Cards Against Humanity</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if currentUser}}

      <div class="item item-assertive">
        <span>Game Between: {{#each players}} {{playerName}}, {{/each}}</span>
      </div>

      <div class="item item-dark item-text-wrap">
        <span style="font-size:1.5em;padding-right:0.5em;">Q: </span><span class="center-align">{{table.text}}</span>
      </div>

        {{#if yourTurn}}

          <ul class="list">
            {{#each submittedCards}}
            <li class="item item-text-wrap item-icon-right">
              <span>{{{card.text}}}</span>
              <i class="icon ion-checkmark-round"></i>
            </li>
            {{/each}}
          </ul>


        {{else}}
          {{> _hand}}
        {{/if}}

        {{> _score}}

      {{else}}
      <h2>Please log in</h2>
      {{/if}}

    {{/ionContent}}
  {{/ionView}}

</template>

<!-- If your turn, render a different template, in which you receive these cards... -->


<template name="_hand">
  <ul class="list">
    {{#each currentHand.hand}}
      <li class="item item-icon-right item-text-wrap">
        <span>{{{text}}}</span>
        <i class="ion-arrow-right-a icon"></i>
      </li>
    {{/each}}
  </ul>
</template>


<template name="_score">
  <div class="item item-dark">
    <span>Score</span>
  </div>
  {{#ionItem}}
    {{#each currentScore}}
      <span>{{player}}: {{score}},</span>
    {{/each}}
  {{/ionItem}}
</template>
