<template name="currentGame">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Cards Against Humanity</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if currentUser}}

      <div class="item">
        <h2 class="title">Game Between: {{#each players}} {{playerName}}, {{/each}}</h2>
      </div>

      <div class="bar bar-dark">
        <h2 style="color:white;padding-right:1rem;">Q: </h2><span class="center-align">{{table.text}}</span>
      </div>

      {{> _hand}}
      {{> _score}}

      {{else}}
      <h2>Please log in</h2>
      {{/if}}

    {{/ionContent}}
  {{/ionView}}

</template>


<template name="_hand">
  <ul class="list">
    {{#each currentHand.hand}}
      <li class="item item-icon-right item-text-wrap">
        <span>{{text}}</span>
        <i class="ion-arrow-right-a icon"></i>
      </li>
    {{/each}}
  </ul>
</template>


<template name="_score">
  {{#ionItem}}
    {{#each currentScore}}
      <span>{{player}}: {{score}},</span>
    {{/each}}
  {{/ionItem}}
</template>
