<template name="invitePlayersModal">
  {{#ionModal title="Invite Players"}}

  {{#if currentUser}}

    {{#if currentGame}}
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
      {{#each allPlayers}}
        {{> _playerItem}}
      {{/each}}
    {{else}}

    This should be a "lobby" where people populate when they accept


    {{/if}}

  {{else}}
    <h1>Must be logged in</h1>
  {{/if}}

  {{/ionModal}}
</template>
