<template name="layout">
  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

    {{#if isAndroid}}
      {{#ionTabs style="android"}}
        {{> ionTab title="Game" path="home" icon="android-star"}}
        {{> ionTab title="Notifications" path="notifications" icon="android-star"}}
        {{> ionTab title="Recommendations" path="recommendations" icon="android-star"}}
        {{> ionTab title="Settings" path="settings" icon="android-star"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Game" path="home" iconOff="ios-book-outline" iconOn="ios-book" class="tab-item-positive"}}
        {{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
        {{> ionTab title="Recommendations" path="recommendations" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
        {{> ionTab title="Settings" path="settings" iconOff="ios-gear-outline" iconOn="ios-gear" class="tab-item-positive"}}
      {{/ionTabs}}
    {{/if}}
  {{/ionBody}}

</template>
